<h1>Tell us about your restaurant:</h1>
<hr>
<br>
<form action="/staffRestaurant/createRestaurant" method="post">
    <button class="collapse_btn" type="button" data-mdb-toggle="collapse" data-mdb-target="#companyDetails"
        aria-expanded="false" aria-controls="collapseExample">
        <div class="card-body">
            <div class="boxText">1: Enter Company Details <i class="fas fa-building"></i></div>
        </div>
    </button>

    <!-- Collapsed content -->
    <div class="collapse mt-3" id="companyDetails">

        <!-- Company name -->
        <div class="form-outline mb-4">
            <input type="text" id="comp_name" name="comp_name" class="form-control" />
            <label class="form-label" for="comp_name">Company name</label>
        </div>

        <!-- Address -->
        <div class="form-outline mb-4">
            <input type="text" id="address" name="address" class="form-control" />
            <label class="form-label" for="address">Address</label>
        </div>

        <!-- Company Email -->
        <div class="form-outline mb-4">
            <input type="email" id="comp_email" name="comp_email" class="form-control" />
            <label class="form-label" for="comp_email">Company Email</label>
        </div>


        <!-- UEN -->
        <div class="form-outline mb-4">
            <input type="text" id="uen" name="uen" class="form-control" />
            <label class="form-label" for="uen">Unique Entity Number</label>
        </div>
    </div>
    <br>
    <br>
    <button class="collapse_btn" type="button" data-mdb-toggle="collapse" data-mdb-target="#restaurantDetails"
        aria-expanded="false" aria-controls="collapseExample">
        <div class="card-body">
            <div class="boxText">2: Enter Restaurant Details <i class="fas fa-utensils"></i></div>
        </div>
    </button>
    <br>
    <br>
    <!-- Collapsed content -->
    <div class="collapse mt-3" id="restaurantDetails">
        <!-- Restaurant name -->
        <div class="form-outline mb-4">
            <input type="text" id="res_name" name="res_name" class="form-control" />
            <label class="form-label" for="res_name">Restaurant name</label>
        </div>
        <!-- Cuisine -->
        <select class="form-select" id="cuisine" name="cuisine">
            <option selected>Cuisine</option>
            <option value="Western">Western</option>
            <option value="Mexican">Mexican</option>
            <option value="Thai">Thai</option>
            <option value="Indian">Indian</option>
            <option value="Japanese">Japanese</option>
            <option value="French">French</option>
            <option value="Chinese">Chinese</option>
            <option value="Italian">Italian</option>
            <option value="Seafood">Seafood</option>
            <option value="Local">Local</option>
        </select>
        <br>
        <!-- Opening and Closing Hours -->
        <div>Select Opening and Closing hours:</div>
        <div style="border: 1px solid lightgrey; border-radius:10px; padding: 10px;">
            <label for="open_time">Opening:</label>
            <input type="time" id="open_time" name="open_time" class="input-group mb-3">
            <label for="close_time">Closing:</label>
            <input type="time" id="close_time" name="close_time" class="input-group mb-3">
        </div>
        <br>
        <!-- Halal -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value= 1 id="halal" name="halal">
            <label class="form-check-label" for="halal">
                Halal
            </label>
        </div>
        <br>
    </div>
    <button class="collapse_btn" type="button" data-mdb-toggle="collapse" data-mdb-target="#socialMedia"
        aria-expanded="false" aria-controls="collapseExample">
        <div class="card-body">
            <div class="boxText">3: Enter links for Socials <i class="fas fa-user-friends"></i></div>
        </div>
    </button>
    <div class="collapse mt-3" id="socialMedia">
        <!-- Facebook Link -->
        <div class="form-outline mb-4">
            <input type="text" id="facebook" name="facebook" class="form-control" />
            <label class="form-label" for="facebook">Facebook account url</label>
        </div>
        <div class="form-outline mb-4">
            <input type="text" id="twitter" name="twitter" class="form-control" />
            <label class="form-label" for="twitter">Twitter account url</label>
        </div>
        <div class="form-outline mb-4">
            <input type="text" id="instagram" name="instagram" class="form-control" />
            <label class="form-label" for="instagram">Instagram account url</label>
        </div>
    </div>
    <!-- Submit button -->
    <div style="margin-top: 50px;">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit details <i
                class="fas fa-paper-plane"></i></button>
    </div>
</form>