<style>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Satisfy", sans-serif;
         !important
    }

    .imageUpload {
        width: 100%;
        padding: 50px;
        cursor: pointer;
        border: 3px solid white;
    }

    .imageUpload>div {
        text-align: center;
    }

    .imageUpload:hover {
        border: 3px solid #ffb03b;
        transition: 0.2s;
    }

    .fileName {
        padding-top: 10px;
        font-size: large;
        font-weight: bold;
        color: #35322d;
    }
</style>
<h1>Tell us about your restaurant:</h1>
<hr>
<br>
<div id="smartwizard" class="formTab">
    <ul class="nav">
        <li>
            <a class="nav-link" href="#step-1">
                Enter Restaurant Details
            </a>
        </li>
        <li>
            <a class="nav-link" href="#step-2">
                Enter Links For Socials
            </a>
        </li>
        <li>
            <a class="nav-link" href="#step-3">
                Add Icon For Restaurant
            </a>
        </li>
    </ul>
    <form action="/staffRestaurant/createRestaurant" method="post" id="createRestaurant">
        <div class="tab-content formTab">

            <div id="step-1" class="tab-pane" role="tabpanel">
                <!-- Company Phone -->
                <div class="form-outline mb-4">
                    <input type="number" id="phone" name="phone" class="form-control" />
                    <label class="form-label" for="phone">Public Company Phone Number</label>
                </div>
                <!-- Company Email -->
                <div class="form-outline mb-4">
                    <input type="email" id="comp_email" name="comp_email" class="form-control" />
                    <label class="form-label" for="comp_email">Public Company Email</label>
                </div>
                <!-- Address -->
                <div class="form-outline mb-4">
                    <input type="text" id="address" name="address" class="form-control" />
                    <label class="form-label" for="phone">Address</label>
                </div>
                <!-- Cuisine -->
                <select class="form-select" id="cuisine" name="cuisine">
                    <option selected>Cuisine</option>
                    <option value="Western">Western</option>
                    <option value="Mexican">Mexican</option>
                    <option value="Thai">Thai</option>
                    <option value="Indian">Indian</option>
                    <option value="Japanese">Japanese</option>
                    <option value="French">French</option>
                    <option value="Chinese">Chinese</option>
                    <option value="Italian">Italian</option>
                    <option value="Seafood">Seafood</option>
                    <option value="Local">Local</option>
                </select>
                <br>
                <!-- Opening and Closing Hours -->
                <div class="form_group">
                    <label for="open_time">Opening Hours:</label>
                    <input type='text' name="open_time" class="form-control" id="open_time" />
                </div>
                <br>
                <div class="form-group">
                    <label for="close_time">Closing Hours:</label>
                    <input type='text' name="close_time" class="form-control" id="close_time" />
                </div>
                <br>
                <!-- Halal -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value=1 id="halal" name="halal">
                    <label class="form-check-label" for="halal">
                        Halal
                    </label>
                </div>
            </div>
            <div id="step-2" class="tab-pane" role="tabpanel">
                <!-- Facebook Link -->
                <div class="form-outline mb-4">
                    <input type="url" id="facebook" name="facebook" class="form-control" />
                    <label class="form-label" for="facebook">Facebook account url</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="url" id="twitter" name="twitter" class="form-control" />
                    <label class="form-label" for="twitter">Twitter account url</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="url" id="instagram" name="instagram" class="form-control" />
                    <label class="form-label" for="instagram">Instagram account url</label>
                </div>
                <p>*Leave blank if not applicable</p>
            </div>
            <div id="step-3" class="tab-pane" role="tabpanel">
                <div>
                    <input type="file" id="restaurantIcon" name="restaurantIcon"
                        accept="image/png,image/jpeg,image/jpg,image/gif" style="display: none;">
                    <input id="iconURL" type="hidden" name="iconURL">
                    <label for="restaurantIcon" class="FDefaultTab imageUpload">
                        <div>
                            <img id="icon" src="/img/UploadFile.png" alt="" style="width: 300px;">
                            <div class="instr">Select a file or drag here</div>
                            <div class="font-weight-bold text-danger small" id="iconErr" style="display:none"></div>
                            <br>
                            <span class="instr btn btn-primary">Select a file</span>
                            <div class="fileName" style="display: none;"></div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/css/smart_wizard_all.min.css" rel="stylesheet"
    type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/js/jquery.smartWizard.min.js"
    type="text/javascript"></script>

<script>
    $("#restaurantIcon").on("change", function () {
        $(".instr").css("display", "none")
        $(".fileName").css("display", "block")
        $(".fileName").html($("#restaurantIcon").val())
    })
    $("#name").on("change", function () {
        $("#res_name").val($("#name").val() + "@" + $("#tag").val())
    })
    $("#tag").on("change", function () {
        $("#res_name").val($("#name").val() + "@" + $("#tag").val())
    })
    $("#restaurantIcon").on("change", function () {
        let image = $("#restaurantIcon")[0].files[0];
        let formdata = new FormData();
        formdata.append("restaurantIcon", image);
        $.ajax({
            url: "/staffRestaurant/upload",
            type: "POST",
            data: formdata,
            contentType: false,
            processData: false,
            success: (data) => {
                $("#icon").attr("src", data.file);
                $("#iconURL").val(data.file); // sets iconURL hidden field
                if (data.err) {
                    $("#iconErr").show();
                    $("#iconErr").text(data.err.message);
                } else {
                    $("#iconErr").hide();
                }
            },
        });
    });

    $(function () {
        $('#open_time').timepicker
            ({
                format: 'HH:MM',
                uiLibrary: 'bootstrap4',
            });
        $('#close_time').timepicker
            ({
                format: 'HH:MM',
                uiLibrary: 'bootstrap4',
            });
        $('#smartwizard').smartWizard({
            theme: "dots",
            transition: {
                animation: "slide-horizontal",
                speed: "400",
            },
            toolbarSettings: {
                toolbarPosition: 'bottom', // none, top, bottom, both
                toolbarButtonPosition: 'right', // left, right, center
                showNextButton: true, // show/hide a Next button
                showPreviousButton: true, // show/hide a Previous button
                toolbarExtraButtons: [$('<button></button>').text('Submit')
                    .addClass('btn sw-btn-group-extra FDefaultButton')
                    .on('click', function () {
                        $("#createRestaurant").submit();
                    }),]
            },
        });
        $("#smartwizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection) {
            if ($('button.sw-btn-next').hasClass('disabled')) {
                $('.sw-btn-group-extra').show(); // show the button extra only in the last page
            } else {
                $('.sw-btn-group-extra').hide();
            }
        });
        $(".sw-btn-next").addClass("FDefaultButtonBlue")
        $(".sw-btn-prev").addClass("FDefaultButtonRed")
    });
</script>