<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .seat {
        height: 25px;
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
        cursor: pointer;
        text-align: center;
        color: white;
        text-shadow:
            0.07em 0 black,
            0 0.07em black,
            -0.07em 0 black,
            0 -0.07em black;
    }

    .seat:hover {
        background-color: #555;
    }

    .square {
        height: 25px;
        width: 25px;
        background-color: #bbb;
        cursor: pointer;
        text-align: center;
        color: white;
        text-shadow:
            0.07em 0 black,
            0 0.07em black,
            -0.07em 0 black,
            0 -0.07em black;
    }

    .square:hover {
        background-color: #555;
    }

    .center {
        margin-left: auto;
        margin-right: auto;
    }

    .centerText {
        font-size: 20px;
        color: #bbb;
        cursor: pointer;
    }

    .tableLayout {
        border-collapse: collapse;
    }

    .tableLayout td {
        border: 1px dashed black;
        padding: 0;
        margin: 0;
    }

    .checkTD {
        height: 25px;
        width: 25px;
        cursor: pointer;
        background-color: white;
    }

    .checkTD:hover {
        background-color: grey;
    }

    .tblClass {
        border: 3px solid white;
        margin: 1px;
        color: white;
        text-shadow:
            0.07em 0 black,
            0 0.07em black,
            -0.07em 0 black,
            0 -0.07em black;
    }

    .color {
        border: 3px solid #ccc;
        background-color: white;
    }

    .selected {
        border: 3px solid black;
    }

    .selected i {
        color: black;
    }

    .legendBorder {
        padding: 20px;
    }

    .tableTab {
        padding: 50px;
    }
</style>

<div style="font-weight: bold; font-size: 30px">Restaurant layout creator</div>
<hr>
<form action="/staffRestaurant/createLayout" method="post" id="layoutForm">
    <div class="row">
        <div id="table-wrap" class="col-md-9 FDefaultTab tableTab" style="overflow-x:auto;">
            <table id="drawing-table" class="tableLayout">
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="col-md-3">
            <div class="legendBorder FDefaultTab">
                <fieldset>
                    <div>Table Select <div title="Each table should be a single colour!" class="far fa-question-circle">
                        </div>
                    </div>
                    <hr>
                    <span id="table-selector">
                        <button class="btn btn-sm selected tblClass" style="background-color: #00ffff;" type="button"
                            id="table-1">1</button>
                    </span>
                    <span id="add-button">
                        <button class="btn btn-floating" title="Click to add a table" id="add-table" type="button"><i
                                class="fas fa-plus"></i></button>
                    </span>
                </fieldset>
            </div>
            <br>
            <div class="legendBorder FDefaultTab">
                <div id="color-selector">
                    <div>Layout Picker <div title="Select from table, seat or eraser to create your layout!"
                            class="far fa-question-circle"></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-4">
                            <div title="Table" class="color selected btn" data-class="square">
                                <i class="fas fa-square centerText"></i>
                            </div>
                        </div>
                        <div class="col-4">
                            <div title="Seat" class="color btn" data-class="seat">
                                <i class="fas fa-circle centerText"></i>
                            </div>
                        </div>
                        <div class="col-4">
                            <div title="Eraser" class="color btn" data-class="eraser">
                                <i class="fas fa-eraser centerText"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="FDefaultTab legendBorder">
                <!-- Button trigger modal -->
                <button class="btn btn-danger btn-block" type="button" data-mdb-toggle="modal"
                    data-mdb-target="#clearAllModal">Clear All<i class="fas fa-trash-alt"></i></button>
                <!-- Modal -->
                <div class="modal fade" id="clearAllModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body" style="font-size: larger; font-weight:bold">Do you really want to
                                clear all?</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" class="btn btn-danger" id="clear" data-mdb-dismiss="modal">Clear
                                    All</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="FDefaultTab legendBorder">
                <button type="button" class="btn btn-block FDefaultButton" id="next">Submit</button>
            </div>
        </div>
    </div>
    <input type="hidden" name="seat" id="seatList">
    <input type="hidden" name="square" id="squareList">
    <input type="hidden" name="tables" id="tblDic">

</form>
<script>
    var colors = [
        "#000000",
        "#0000ff",
        "#a52a2a",
        "#00008b",
        "#008b8b",
        "#a9a9a9",
        "#006400",
        "#bdb76b",
        "#8b008b",
        "#556b2f",
        "#ff8c00",
        "#9932cc",
        "#8b0000",
        "#e9967a",
        "#9400d3",
        "#ff00ff",
        "#ffd700",
        "#008000",
        "#4b0082",
        "#add8e6",
        "#e0ffff",
        "#90ee90",
        "#d3d3d3",
        "#ffb6c1",
        "#ffffe0",
        "#00ff00",
        "#ff00ff",
        "#800000",
        "#000080",
        "#808000",
        "#ffa500",
        "#ffc0cb",
        "#800080",
        "#800080",
        "#ff0000",
        "#c0c0c0",
        "#f5f5dc",
    ];
    function remove(array, n) {
        const index = array.indexOf(n)
        if (index > -1) {
            array.splice(index, 1)
        }
        return array
    }
    function buildGrid(cols, rows) {
        var tableMarkup = "";
        vert = 'abcdefghijklmnopqr'
        for (x = 0; x < rows; x++) {
            tableMarkup += "<tr>";
            for (y = 0; y < cols; y++) {
                tableMarkup += "<td><div id ='" + y + vert[x] + "' class='checkTD'></div></td>";
            }
            tableMarkup += "</tr>";
        }
        $("#drawing-table").html(tableMarkup)
    };
    $(function () {
        // Variable Setup
        var cols = 32,
            rows = 18,
            curFur = "square",
            eraseState = false,
            seatList = [],
            squareList = [],
            curTbl = "table-1",
            curColor = "#00ffff",
            curNum = 1,
            tblDic = { "table-1": [] },
            $el;
        // Initial Build of Table  
        buildGrid(cols, rows);
        $("#drawing-table").delegate("td", "click", function () {
            $el = $(this).children();
            seatID = $el.attr("id")
            seatList = remove(seatList, seatID)
            squareList = remove(squareList, seatID)
            for (i in tblDic) {
                tblDic[i] = remove(tblDic[i], seatID)
            }
            if (eraseState) {
                $el.removeClass();
                $el.css("background-color", "white");
                $el.addClass("checkTD");
                $el.empty()
            } else {
                $el.removeClass();
                $el.addClass(curFur);
                $el.css("background-color", curColor);
                $el.html(curNum);
                tblDic[curTbl].push(seatID);
                if (curFur == "square") {
                    squareList.push(seatID)
                }
                else if (curFur == "seat") {
                    seatList.push(seatID)
                }
            }
        });
        $("#color-selector").delegate(".color", "click", function () {
            $el = $(this);
            var pulledVal = $el.attr("data-class");
            if (pulledVal == 'eraser') {
                eraseState = true;
            } else {
                eraseState = false;
                curFur = pulledVal;
            }
            $(".color").removeClass("selected");
            $(this).addClass("selected");
        });
        $("#add-table").click(function () {
            tblLen = Object.keys(tblDic).length + 1
            tblID = "table-" + (tblLen);
            tblDic[tblID] = [];
            tblBtn = "<button type='button' class='btn btn-sm tblClass' id='" + tblID + "'>" + tblLen + "</button>"
            $("#table-selector").append(tblBtn)
            if (tblLen == colors.length) {
                $("#add-button").remove()
            }
            for (i = 0; i < tblLen; i++) {
                j = i + 2
                var color = colors[i]
                $('#table-' + j).css("background-color", color)
            }
        });
        $("#table-selector").delegate(".tblClass", "click", function () {
            $el = $(this);
            curTbl = $el.attr("id");
            curNum = $el.text()
            curColor = $el.css("background-color");
            $(".tblClass").removeClass("selected");
            $(this).addClass("selected");
        });
        $("#clear").click(function () {
            $el = $(".tableLayout td").children();
            $el.removeClass()
            $el.empty()
            $el.css("background-color", "white");
            $el.addClass("checkTD")
            seatList = []
            squareList = []
            for (i in tblDic) {
                tblDic[i] = []
            }
        });
        $("#next").click(function () {
            $("#seatList").val(seatList)
            $("#squareList").val(squareList)
            tblDicFormat = JSON.stringify(tblDic)
            $("#tblDic").val(tblDicFormat)
            $("#layoutForm").submit();
        });
    });
</script>