<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .checked {
        color: orange;
    }

    .seat {
        height: 25px;
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
        cursor: pointer;
    }

    .seat:hover {
        background-color: #555;
    }

    .square {
        height: 25px;
        width: 25px;
        background-color: #bbb;
        cursor: pointer;
    }

    .square:hover {
        background-color: #555;
    }

    .center {
        margin-left: auto;
        margin-right: auto;
        margin-top: 9px;
    }

    .centerText {
        font-size: 25px;
        text-align: center;
        padding-left: 9px;
        color: #bbb;
        cursor: pointer;
    }

    .centerText:hover {
        color: #555;
    }

    .tableLayout {
        border-collapse: collapse;
    }

    .tableLayout td {
        border: 1px dotted black;
        padding: 0;
        margin: 0;
    }

    .checkTD {
        height: 25px;
        width: 25px;
        cursor: pointer;
        background-color: white;
    }

    .checkTD:hover {
        background-color: grey;
    }

    .color {
        float: left;
        position: relative;
        border: 3px solid #ccc;
        margin: 0 20px 40px 0;
        width: 50px;
        height: 50px;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
    }

    .color input {
        position: absolute;
        top: 60px;
        left: 20px;
        width: 14px;
        height: 14px;
        border: 0;
    }

    .colorpicker_submit {
        color: white;
    }

    .colorpicker {
        z-index: 20;
    }

    .selected {
        border: 3px solid black;
    }

    .legendBorder {
        border: 3px solid black;
        border-radius: 15px;
        padding: 20px;
    }

    .legendBorder legend {
        display: block;
        padding-inline-start: 2px;
        padding-inline-end: 2px;
    }
</style>

<h1>Create your restaurant layout:</h1>

<form action="" method="post">
    <div class="row">
        <div id="table-wrap" class="col-md-9">
            <table id="drawing-table" class="tableLayout">
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="col-md-3">
            <div class="legendBorder">
                <fieldset id="color-selector">
                    <legend>Color Picker</legend>
                    <div class="color red selected" data-class="square">
                        <div class="square center"></div><input type="text">
                    </div>
                    <div class="color green" data-class="seat">
                        <div class="seat center"></div><input type="text">
                    </div>
                    <div class="color eraser" data-class="eraser"><i class="fas fa-eraser center centerText"></i></div>
                </fieldset>
                <fieldset>
                    <button class="btn btn-danger" type="button" id="clear">Clear All<i
                            class="fas fa-trash-alt"></i></button>
                </fieldset>
            </div>
        </div>
    </div>
    <label for="">Seat</label>
    <input type="text" name="seat" id="seatList">
    <label for="">Square</label>
    <input type="text" name="square" id="squareList">
    <button type="button" class="btn btn-primary" id="next">Next</button>
</form>
<script>
    function remove(array, n) {
        const index = array.indexOf(n)
        if (index > -1) {
            array.splice(index, 1)
        }
        return array
    }
    function buildGrid(cols, rows) {

        var tableMarkup = "";
        vert = 'abcdefghijklmnopqr'
        for (x = 0; x < rows; x++) {
            tableMarkup += "<tr>";
            for (y = 0; y < cols; y++) {
                tableMarkup += "<td><div id ='" + y + vert[x] + "' class='checkTD'></div></td>";
            }
            tableMarkup += "</tr>";
        }

        $("#drawing-table").html(tableMarkup)

    };

    $(function () {

        // Variable Setup
        var cols = 32,
            rows = 18,
            curFur = "square",
            mouseDownState = false,
            eraseState = false,
            tracingMode = false,
            prevColor = "",
            seatList = [],
            squareList = [],
            $el;

        // Inital Build of Table  
        buildGrid(cols, rows);
        $("#drawing-table").delegate("td", "click", function () {
            mouseDownState = true;
            $el = $(this).children();
            seatID = $el.attr("id")
            seatList = remove(seatList, seatID)
            squareList = remove(squareList, seatID)
            if (eraseState) {
                $el.removeClass();
                $el.addClass("checkTD");
                
            } else {
                $el.removeClass();
                $el.addClass(curFur);
                if (curFur == "square") {
                    
                    squareList.push(seatID)
                }
                else if (curFur == "seat") {
                    
                    seatList.push(seatID)
                }
            }
        })
        $("#color-selector").delegate(".color", "click", function () {

            $el = $(this);
            var pulledVal = $el.attr("data-class");

            if (pulledVal == 'eraser') {
                eraseState = true;
            } else {
                eraseState = false;
                curFur = pulledVal;
            }

            $(".color").removeClass("selected");
            $(this).addClass("selected");
        });
        $("#clear").click(function () {
            $el = $(".tableLayout td").children();
            $el.removeClass()
            $el.addClass("checkTD")
            seatList = []
            squareList = []
        })
        $("#next").click(function () {
            $("#seatList").val(seatList)
            $("#squareList").val(squareList)
        })
    });
</script>