<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .checked {
        color: orange;
    }

    .seat {
        height: 25px;
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
        cursor: pointer;
    }

    .seat:hover {
        background-color: #555;
    }

    .square {
        height: 25px;
        width: 25px;
        background-color: #bbb;
        cursor: pointer;
    }

    .square:hover {
        background-color: #555;
    }

    .center {
        margin-left: auto;
        margin-right: auto;
        margin-top: 9px;
    }

    .centerText {
        font-size: 25px;
        text-align: center;
        padding-left: 9px;
        color: #bbb;
        cursor: pointer;
    }

    .centerText:hover {
        color: #555;
    }

    .tableLayout {
        border-collapse: collapse;
    }

    .tableLayout td {
        border: 1px dotted black;
        padding: 0;
        margin: 0;
    }

    .checkTD {
        height: 25px;
        width: 25px;
        cursor: pointer;
        background-color: white;
    }

    .checkTD:hover {
        background-color: grey;
    }

    .tblClass {
        border: 3px solid white;
        margin: 1px;
        text-shadow: white 0px 0px 10px;
    }

    .color {
        float: left;
        position: relative;
        border: 3px solid #ccc;
        margin: 0 20px 40px 0;
        width: 50px;
        height: 50px;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
    }

    .color input {
        position: absolute;
        top: 60px;
        left: 20px;
        width: 14px;
        height: 14px;
        border: 0;
    }

    .colorpicker_submit {
        color: white;
    }

    .colorpicker {
        z-index: 20;
    }

    .selected {
        border: 3px solid black;
        color: black;
    }

    .legendBorder {
        padding: 20px;
    }

    .legendBorder legend {
        display: block;
        padding-inline-start: 2px;
        padding-inline-end: 2px;
    }

    .tableTab {
        padding: 50px;
    }

    .tableTab>table {
        margin: auto;
    }
</style>

<div style="font-weight: bold; font-size: 30px">Create your restaurant layout:</div>

<form action="/staffRestaurant/createLayout" method="post" id="layoutForm">
    <div class="row">
        <div id="table-wrap" class="col-md-9 FDefaultTab tableTab">
            <table id="drawing-table" class="tableLayout">
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="col-md-3">
            <div class="legendBorder FDefaultTab">
                <fieldset>
                    <div>Table Select <i class="far fa-question-circle"></i></div>
                    <hr>
                    <span id="table-selector">
                        <button class="btn btn-sm selected tblClass" style="background-color: #00ffff;" type="button"
                            id="table-1">1</button>
                    </span>
                    <span id="add-button">
                        <button id="add-table" type="button">+</button>
                    </span>
                </fieldset>
            </div>
            <br>
            <div class="legendBorder FDefaultTab">
                <fieldset id="color-selector">
                    <div>Picker <i class="far fa-question-circle"></i></div>
                    <hr>
                    <div class="color red selected" data-class="square">
                        <div class="square center"></div><input type="text">
                    </div>
                    <div class="color green" data-class="seat">
                        <div class="seat center"></div><input type="text">
                    </div>
                    <div class="color eraser" data-class="eraser"><i class="fas fa-eraser center centerText"></i></div>
                </fieldset>
            </div>
            <br>
            <div class="FDefaultTab legendBorder">
                <button class="btn btn-danger btn-block" type="button" id="clear">Clear All<i
                        class="fas fa-trash-alt"></i></button>
            </div>
            <br>
            <div class="FDefaultTab legendBorder">
                <button type="button" class="btn btn-primary btn-block" id="next">Submit</button>
            </div>
        </div>
    </div>
    <input type="hidden" name="seat" id="seatList">
    <input type="hidden" name="square" id="squareList">
    <input type="hidden" name="tables" id="tblDic">

</form>
<script>
    var colors = [
        "#f5f5dc",
        "#000000",
        "#0000ff",
        "#a52a2a",
        "#00008b",
        "#008b8b",
        "#a9a9a9",
        "#006400",
        "#bdb76b",
        "#8b008b",
        "#556b2f",
        "#ff8c00",
        "#9932cc",
        "#8b0000",
        "#e9967a",
        "#9400d3",
        "#ff00ff",
        "#ffd700",
        "#008000",
        "#4b0082",
        "#add8e6",
        "#e0ffff",
        "#90ee90",
        "#d3d3d3",
        "#ffb6c1",
        "#ffffe0",
        "#00ff00",
        "#ff00ff",
        "#800000",
        "#000080",
        "#808000",
        "#ffa500",
        "#ffc0cb",
        "#800080",
        "#800080",
        "#ff0000",
        "#c0c0c0"
    ];
    function remove(array, n) {
        const index = array.indexOf(n)
        if (index > -1) {
            array.splice(index, 1)
        }
        return array
    }
    function buildGrid(cols, rows) {

        var tableMarkup = "";
        vert = 'abcdefghijklmnopqr'
        for (x = 0; x < rows; x++) {
            tableMarkup += "<tr>";
            for (y = 0; y < cols; y++) {
                tableMarkup += "<td><div id ='" + y + vert[x] + "' class='checkTD'></div></td>";
            }
            tableMarkup += "</tr>";
        }

        $("#drawing-table").html(tableMarkup)

    };

    $(function () {

        // Variable Setup
        var cols = 32,
            rows = 18,
            curFur = "square",
            mouseDownState = false,
            eraseState = false,
            tracingMode = false,
            prevColor = "",
            seatList = [],
            squareList = [],
            curTbl = "table-1",
            curColor = "#00ffff",
            tblDic = { "table-1": [] },
            $el;

        // Inital Build of Table  
        buildGrid(cols, rows);
        $("#drawing-table").delegate("td", "click", function () {
            mouseDownState = true;
            $el = $(this).children();
            seatID = $el.attr("id")
            seatList = remove(seatList, seatID)
            squareList = remove(squareList, seatID)
            for (i in tblDic) {
                tblDic[i] = remove(tblDic[i], seatID)
            }
            if (eraseState) {
                $el.removeClass();
                $el.css("background-color", "white");
                $el.addClass("checkTD");
            } else {
                $el.removeClass();
                $el.addClass(curFur);
                $el.css("background-color", curColor)
                tblDic[curTbl].push(seatID)
                if (curFur == "square") {
                    squareList.push(seatID)
                }
                else if (curFur == "seat") {
                    seatList.push(seatID)
                }
            }
        });
        $("#color-selector").delegate(".color", "click", function () {

            $el = $(this);
            var pulledVal = $el.attr("data-class");

            if (pulledVal == 'eraser') {
                eraseState = true;
            } else {
                eraseState = false;
                curFur = pulledVal;
            }

            $(".color").removeClass("selected");
            $(this).addClass("selected");
        });
        $("#add-table").click(function () {
            tblLen = Object.keys(tblDic).length + 1
            tblID = "table-" + (tblLen);
            tblDic[tblID] = [];
            tblBtn = "<button type='button' class='btn btn-sm tblClass' id='" + tblID + "'>" + tblLen + "</button>"
            $("#table-selector").append(tblBtn)
            if (tblLen == colors.length) {
                $("#add-button").remove()
            }
            for (i = 0; i < tblLen; i++) {
                j = i + 2
                var color = colors[i]
                $('#table-' + j).css("background-color", color)
            }
        });
        $("#table-selector").delegate(".tblClass", "click", function () {
            $el = $(this);
            curTbl = $el.attr("id");
            curColor = $el.css("background-color");
            $(".tblClass").removeClass("selected");
            $(this).addClass("selected");
        });
        $("#clear").click(function () {
            $el = $(".tableLayout td").children();
            $el.removeClass()
            $el.css("background-color", "white");
            $el.addClass("checkTD")
            seatList = []
            squareList = []
            for (i in tblDic) {
                tblDic[i] = []
            }
        });
        $("#next").click(function () {
            $("#seatList").val(seatList)
            $("#squareList").val(squareList)
            tblDicFormat = JSON.stringify(tblDic)
            $("#tblDic").val(tblDicFormat)
            $("#layoutForm").submit();
        });
    });
</script>