<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    .checked {
        color: orange;
    }

    .seat {
        height: 25px;
        width: 25px;
        background-color: green;
        border-radius: 50%;
        cursor: pointer;
    }

    .square {
        height: 25px;
        width: 25px;
        background-color: green;
        cursor: pointer;
    }

    .center {
        margin-left: auto;
        margin-right: auto;
    }

    .tableLayout {
        border-collapse: collapse;
    }

    .tableLayout td {
        padding: 0;
        margin: 0;
    }

    .checkTD {
        height: 25px;
        width: 25px;
        background-color: white;
    }

    .taken {
        background-color: red;
    }

    #table-wrap {
        border: 3px solid black
    }
</style>
<form action="/staffRestaurant/seatManager" method="post" id="seatManager">
    <div id="table-wrap">
        <table id="drawing-table" class="tableLayout">
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
    <input type="hidden" name="occupied" id="occupied">
    <button type="button" id="apply" class="btn btn-primary">Apply</button>
</form>
<script>
    function remove(array, n) {
        const index = array.indexOf(n)
        if (index > -1) {
            array.splice(index, 1)
        }
        return array
    }
    function buildGrid(cols, rows) {

        var tableMarkup = "";
        vert = 'abcdefghijklmnopqr'
        for (x = 0; x < rows; x++) {
            tableMarkup += "<tr>";
            for (y = 0; y < cols; y++) {
                tableMarkup += "<td><div id ='" + y + vert[x] + "' class='checkTD'></div></td>";
            }
            tableMarkup += "</tr>";
        }

        $("#drawing-table").html(tableMarkup)

    };
    $(function () {

        // Variable Setup
        var cols = 32,
            rows = 18,
            seatList = "{{layouts.seat}}".split(","),
            squareList = "{{layouts.square}}".split(","),
            tblDic = JSON.parse('{{layouts.tables}}'.replace(/&quot;/g, '"')),
            occupied = "{{layouts.occupied}}".split(","),
            $el;
        buildGrid(cols, rows);
        for (i in seatList) {
            $("#" + seatList[i]).removeClass("checkTD")
            $("#" + seatList[i]).addClass("seat")
        }
        for (i in squareList) {
            $("#" + squareList[i]).removeClass("checkTD")
            $("#" + squareList[i]).addClass("square")
        }
        for (const [key, value] of Object.entries(tblDic)) {
            for (i in value) {
                $("#" + value[i]).addClass(key)
            }
        }
        for (i in occupied) {
            if (occupied[i].length > 0){
                $("." + occupied[i]).addClass("taken")
            }
        }

        for (const [key, value] of Object.entries(tblDic)) {
            for (i in value) {
                $("#" + value[i]).click(function () {
                    if ($("." + key).hasClass("taken")) {
                        $("." + key).removeClass("taken")
                        occupied = remove(occupied, key)
                    }
                    else {
                        $("." + key).addClass("taken")
                        occupied.push(key)
                    }
                })
            }
        }
        $("#apply").click(function () {
            $("#occupied").val(occupied)
            $("#seatManager").submit()
        })
    });
</script>