<div style="padding: 10px;">
    <a href="/staffRestaurant/createRestaurant">
        <div class="card">
            <div class="card-body collapse_btn boxText">
                Enter restaurant details
            </div>
        </div>
    </a>
    <br>
    <a href="">
        <div class="card">
            <div class="card-body collapse_btn boxText">
                Create restaurant layout
            </div>
        </div>
    </a>
    <br>
    <a href="">
        <div class="card">
            <div class="card-body collapse_btn boxText">
                Create restaurant menu
            </div>
        </div>
    </a>
</div>