<style>
    .backTheme {
        background-color: #35322d;
        color: #FFFFFF;
        padding: 20px;
    }

    .tblTheme {
        background-color: #35322d;
        color: #FFFFFF;
        padding: 20px;
    }

    th {
        color: #ffb03b;
    }

    img {
        margin: 20px;
    }

    .table-hover {
        color: white;
         !important
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>

<div class="backTheme">
    <h2 style="text-align: center;">Subway</h2>
    <hr>
    <img src="https://www.logodesignlove.com/images/monograms/subway-monogram-01.jpg" alt="" style="width: 400px;" class="center">
    
    <table class="table table-dark table-hover tblTheme">
        <tr>
            <th>UEN:</th>
            <td>12345678X</td>
        </tr>
        <tr>
            <th>Company Name:</th>
            <td>Subway Pte Ltd</td>
        </tr>
        <tr>
            <th>Location:</th>
            <td>Thelocation</td>
        </tr>
        <tr>
            <th>Opening Time:</th>
            <td>12:00pm</td>
        </tr>
        <tr>
            <th>Closing Time:</th>
            <td>10:00pm</td>
        </tr>
        <tr>
            <th>Cuisine:</th>
            <td>Western</td>
        </tr>
        <tr>
            <th>Halal:</th>
            <td>Yes</td>
        </tr>
        <tr>
            <th>Phone:</th>
            <td>678347344</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>saizeriya@gmail.com</td>
        </tr>
    </table>
    <a href="#" type="button" class="btn btn-light btn-rounded center">Edit Restaurant</a>
</div>