
<!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <div class="logo me-auto">
        <h1><a href="/">Foodecent</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto " href="/">Home</a></li>
          {{#if user}}
          {{#ifEquals user.cust_type "customer"}}
          <li><a class="nav-link scrollto " href="/restaurant">Restaurant</a></li>
          {{/ifEquals}}
          {{#ifEquals user.cust_type "staff"}}
          <li><a class="nav-link scrollto " href="/staffRestaurant/seatManager">Seat Manager</a></li>
          {{/ifEquals}}
          {{/if}}

          <li><a class="nav-link scrollto" href="/bookingInterface/bookingDetailsEmailInsert">Notification<i class="fas fa-bell"></i></a></li>
          {{#if user}}
          <li><a class="nav-link scrollto" href="/user/logout">Logout</a></li>
          {{/if}}
          {{!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> --}}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    {{#if user}}
          <a href="/user/profile" class="book-a-table-btn scrollto">{{user.fname}}</a>
          
          
    {{else}}
      <a href="/user/login" class="book-a-table-btn scrollto">Login</a>
    {{/if}}
    </div>
  </header><!-- End Header -->