<div class="successNoti">
    <div><i class="fas fa-check-circle"></i><span>test</span></div>
    <button id="closeNoti" onclick="HideNoti()" type="button" class="btn-close"></button>
</div>

<script>
    function HideNoti() {
        $(".successNoti").hide(500);
    }
</script>
