/* Cruz */
#loginForm, #registerForm, #fpForm{
    border: 1px solid grey;
}

.userTitle{
    font-weight: bold;
    background-color: lightgray;
    padding: 0.5%;
    border-bottom: 1px solid grey;
}

#loginForm form, #registerForm form, #fpForm form{
    padding: 4%;
}

.loginBtn, .registerBtn, .cpBtn{
    margin: 0 auto;
}

/* Chrome, Safari, Edge, Opera */
#registerForm input[type=number]::-webkit-outer-spin-button,
#registerForm input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#registerForm input[type=number] {
  -moz-appearance: textfield;
}
