.loginForm, .regForm, .cpForm, .editProfileForm, .addCCForm {
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10%;
}

.loginBtn, .loginBtn:hover,
.regBtn, .regBtn:hover,
.cpBtn, .cpBtn:hover,
.editProfileBtn, .editProfileBtn:hover,
.addCCBtn, .addCCBtn:hover{
  background-color:#433f39; 
  border-color:#433f39
}