/* Edison */
.menu {
  padding: 20px 15px 15px;
  border-radius: 5px;
  /* border: #adaba7 solid 2px; */
  margin-bottom: 30px;
}

/* .menu div {
  border-bottom: none;
  text-align: left;
} */

#specification {
  padding: 5px;
  font-size: 0.9em;
}

#specification span {
  font-weight: 600;

}

.menuTitle {
  text-align: center;
  padding-bottom: 3px;
  border-bottom: #35322d solid 2px;
}

.menuType {
  border: #ffb03b 5px solid;
  margin-top: 50px;
  padding-bottom: 40px;
}

.menuSubTitle {
  text-align: center;
  background-color: #ffb03b;
  color: white;
  padding: 10px;
}

.menuCat {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.menuItem {
  /* flex-shrink: 0; */
  width: 380px;
  height: 175px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  margin-top: 30px;
  margin-left: 30px;
}

.menuImage {
  float: left;
  margin: 17px;
  height: 140px;
  width: 140px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.menuContent,
.popUpContent {
  height: 140px;
  width: 172px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 17px;
  float: left;
}

.popUpContent {
  height: auto;
  width: auto;
}

.popUpContentTitle {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 20px;
}

.popUpContent .form-outline {
  margin-bottom: 15px;
}

.popUpContent select {
  display: inline-block;
}

.popUpContent {
  padding-bottom: 20px;
}

.popUpContent2 label {
  margin-top: 15px;
}

.popUpContent .specification {
  margin-left: 5px;
  margin-bottom: 4px;
}

.popUpContent .specification label {
  margin-top: 3px;
}

.menuContent button {
  font-size: 0.8em;
  /* flex-shrink: 0; */
  /* width: 100px; */
  height: 35px;
  margin-right: 17px;
  /* align-self:flex-end; */
  background-color: rgba(26, 24, 22, 0.85);
}

.cartButton {
  float: right;
  height: 45px;
  /* background-color: rgba(26, 24, 22, 0.85); */
  border: none;
  margin: 30px 0;
  width: 120px !important;
  border: 3px solid #ffb03b !important;
  background-color: #35322d !important;
  color: #ffb03b !important;
}
.cartButton:hover {
  border: 3px solid #35322d !important;
  background-color: #ffb03b !important;
  color: #35322d !important;
}

.subNav {
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  margin-top: 40px;
  overflow: hidden;
  background-color: #fff;
}

.subNavItem a {
  color: #35322d;
}

.sticky {
  position: fixed;
  top: 31px;
  left: 0;
  width: 100%;
  z-index: 100;
  /* padding-left: 25%; */
}

.sticky + div {
  padding-top: 60px;
}

.sticky div:first-child {
  margin-left: 20px;
}

.subNavItem {
  width: 90px;
  height: 50px;
  text-align: center;
  float: left;
  padding-top: 15px;
  z-index: 100;
}

.subNavItem:first-child {
  margin-left: 10px;
}

.subNav:active {
  border-bottom: #ffb03b solid 4px;
}

.cart,
.remarks,
.bookInfo,
.checkout,
.receipt {
  margin: 20px 0 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  padding: 10px 20px;
}

.bookButton {
  float: right;
  font-size: 0.8em;
  height: 40px;
  margin-right: 17px;
  margin: 18px 0;
  width: 120px !important;
  border: 3px solid #ffb03b !important;
  background-color: #35322d !important;
  color: #ffb03b !important;
}
.bookButton:hover {
  border: 3px solid #35322d !important;
  background-color: #ffb03b !important;
  color: #35322d !important;
}

.bookTable {
  border-collapse: collapse !important;
  width: 95%;
  margin: 10px auto;
}

.bookTable th {
  /* border-top: rgba(54, 54, 54, 0.479) solid 2px; */
  border-bottom: rgba(54, 54, 54, 0.479) solid 2px;
}

.bookTable2 td {
  /* border-top: rgba(177, 177, 177, 0.8) solid 1px; */
  /* border-bottom: rgba(177, 177, 177, 0.8) solid 1px; */
  font-weight: 300;
  font-size: 0.9em;
}

.bookTable1 td:first-child {
  font-weight: bold;
}

.bookTable2 thead th {
  height: 40px;
  vertical-align: center;
}

.bookTable2 tbody td {
  height: 40px;
}

.cart {
  padding-bottom: 20px;
}

.checkout div {
  float: right;
  margin: 25px 20px;
}

.checkout {
  height: 80px;
  padding: 1px 20px;
}

.bookTable1 tr td:nth-child(2) {
  text-align: right;
}

.receipt {
  padding: 30px 30px 50px;
}

.receipt img {
  height: 150px;
  width: 150px;
  margin: 10px auto 40px;
  display: block;
}

.receiptTitle {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 40px;
}

.receiptSubTitle {
  text-align: center;
  padding-bottom: 3px;
  border-bottom: #35322d solid 2px;
  font-weight: 600;
  margin: 30px auto 20px;
}

.homeButton {
  height: 50px;
  margin-right: 17px;
  margin: 40px auto;
  display: block;
  border: 3px solid #ffb03b !important;
  background-color: #35322d !important;
  color: #ffb03b !important;
}
.homeButton:hover {
  border: 3px solid #35322d !important;
  background-color: #ffb03b !important;
  color: #35322d !important;
}


/* -- quantity box -- */

.quantity {
  display: inline-block;
}

.quantity .input-text.qty {
  width: 35px;
  height: 39px;
  padding: 0 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #efefef;
}

.quantity.buttons_added {
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top;
}

.quantity.buttons_added input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
  padding: 7px 10px 8px;
  height: 41px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  cursor: pointer;
}

.quantity.buttons_added .minus {
  border-right: 0;
}

.quantity.buttons_added .plus {
  border-left: 0;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
  background: #eeeeee;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
  outline: none;
}

.buttonIcon {
  border: none;
  background-color: #fff;
  margin: 30px auto 5px;
  float: right;
  margin-top: 0;
}

.buttonIcon svg {
  width: 25px;
  height: 25px;
}

.menuItem {
  position: relative;
}

.menuItem .btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.menuSubTitle form .num {
  width: 100px;
}

.menuSubTitle input {
  font-size: 0.8em;
}

.buttonAdd {
  background-color: #ffb03b;
  margin: 30px 30px 0px 0px;
  color: #fff;
  border: none;
  height: 40px;
  width: 150px;
  border-radius: 25px;
  font-size: 0.8em;
}

.menuTableHeader {
  height: 80px;
  width: 100%;
  /* background-color: #35322d; */
  /* color: #fff; */
  /* text-align: center; */
  padding: 17px;
  font-size: 1.2em;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; */
  border-bottom: #35322d solid 2px;
}

.menuTable {
  width: 100%;
  border-spacing: 0 15px;
  border-collapse: separate;
}

.menuTable tbody tr {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 10px 3px;
  /* border: #adaba7 solid 2px; */
  border-radius: 8px;
}

.menuTable tr td:first-child {
  border-top-left-radius: 8px; 
  border-bottom-left-radius: 8px;
}
.menuTable tr td:last-child {
  border-bottom-right-radius: 8px; 
  border-top-right-radius: 8px; 
}

.menuTable th:first-child,
.menuTable th:last-child {
  width: 15px;
}

.menuTable th {
  height: 25px;
  /* border-top: rgba(54, 54, 54, 0.479) solid 2px;
    border-bottom: rgba(54, 54, 54, 0.479) solid 2px; */
  font-weight: 500;
  cursor: pointer;
}

.menuTable td {
  height: 60px;
  /* border-top: rgba(177, 177, 177, 0.8) solid 1px;
    border-bottom: rgba(177, 177, 177, 0.8) solid 1px; */
  font-weight: 300;
  font-size: 0.9em;
}

.menuTable .buttonIcon {
  padding-top: 8px;
}

.popUpDelete button {
  margin: 20px 10px;
}

.menuNav {
  margin-bottom: 50px;
}

.menuNav button {
  border: 3px solid #ffb03b;
  background-color: #35322d;
  color: #ffb03b;
}
.menuNav button:hover {
  border: 3px solid #35322d;
  background-color: #ffb03b;
  color: #35322d;
}

.menuNav button:first-child {
  width: 49%;
  /* border-radius: 10px 0px 0px 10px; */
  /* background-color: #fff;
    border: #35322d solid 2px;
    color: #35322d; */
}

.menuNav button:last-child {
  width: 49%;
  /* border-radius: 0 10px 10px 0; */
  float: right;
  /* background-color: #fff;
    border: #35322d solid 2px;
    color: #35322d; */
}

.modalMenu .modal-header,
.modalMenu .modal-footer {
  background-color: #35322d;
  color: #ffb03b;
}

.modalMenu .modal-header button,
.modalMenu .modal-footer button {
  background-color: #ffb03b;
  color: #35322d;
}

.buttonIcon svg {
    fill:grey ;
}

.buttonIcon svg:hover {
    fill: black ;
}