/* Cruz */
#loginForm, #registerForm, #fpForm, #profileForm, .creditCardForm{
    border: 1px solid grey;
}

.creditCardForm{
  margin-top: 5%;
}

.userTitle{
    font-weight: bold;
    background-color: lightgray;
    padding: 0.5%;
    border-bottom: 1px solid grey;
}

#loginForm form, #registerForm form, #fpForm form, #profileForm form, .creditCardForm form{
    padding: 4%;
}

#creditCardTable{
    border-collapse: collapse;
    border-spacing: 5px;
    margin: 0 auto;
    border-color: grey;
}

#creditCardList{
  margin: 2.5%;
}

.accBtn{
  margin: 2%;
  margin-left: 4%;
}

.AllBtn {
  border: 3px solid #ffb03b;
  background-color: #35322d;
  color: #ffb03b;
}
.AllBtn:hover {
  border: 3px solid #35322d;
  background-color: #ffb03b;
  color: #35322d;
}

/* Chrome, Safari, Edge, Opera */
#registerForm input[type=number]::-webkit-outer-spin-button,
#registerForm input[type=number]::-webkit-inner-spin-button,
#profileForm input[type=number]::-webkit-outer-spin-button,
#profileForm input[type=number]::-webkit-inner-spin-button,  
.creditCardForm input[type=number]::-webkit-outer-spin-button,
.creditCardForm input[type=number]::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#registerForm input[type=number], #profileForm input[type=number] {
  -moz-appearance: textfield;
}
