<div class="FDefaultTab addCCForm">
    <h5>Add Credit Card</h5>
	<form method="POST" action="/user/addCard">
	<!-- Card Name input -->
	<div class="form-outline mb-4">
		<input type="text" id="cardname" class="form-control" name="cardname" required/>
		<label class="form-label" for="cardname">Card Name</label>
	</div>

	<!-- Card No. input -->
	<div class="form-outline mb-4">
		<input type="number" id="cardno" class="form-control" name="cardno" required/>
		<label class="form-label" for="cardno">Card No.</label>
	</div>

    <!-- Date input -->
    <div class="input-group">
        <span class="input-group-text">MM / YYYY</span>
        <select class="form-control" name="mm">
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <select class="form-control" name="yyyy">
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2029">2029</option>
            <option value="2030">2030</option>
            <option value="2031">2031</option>
            <option value="2032">2032</option>
            <option value="2033">2033</option>
            <option value="2034">2034</option>
            <option value="2035">2035</option>
            <option value="2036">2036</option>
            <option value="2037">2037</option>
            <option value="2038">2038</option>
            <option value="2039">2039</option>
            <option value="2040">2040</option>
            <option value="2041">2041</option>
            <option value="2042">2042</option>
            <option value="2043">2043</option>
            <option value="2044">2044</option>
            <option value="2045">2045</option>
        </select>
    </div>

    <br>

    <!-- CVV input -->
	<div class="form-outline mb-4">
		<input type="number" id="cvv" class="form-control" name="cvv" required/>
		<label class="form-label" for="cvv">CVV</label>
	</div>

	<!-- Submit button -->
	<button type="submit" class="FDefaultButton addCCBtn btn btn-primary btn-lg btn-block">Add</button>
	</form>
</div>