<div class="FDefaultTab cpForm">
    <h5>Change Password</h5>
    <form method="POST" action="/user/changePassword">
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" id="email" name="email" class="form-control" required/>
            <label class="form-label" for="form2Example1">Email address</label>
        </div>


        <!-- Submit button -->
        <button type="submit" class="FDefaultButton pBtn btn btn-primary btn-lg btn-block">Change Password</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Go back? <a href="/user/login">Login</a></p>
        </div>
	</form>
</div>