<div id="fpForm">
    <p class="userTitle">Change Password</p>
	<form>
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" id="form2Example1" class="form-control" />
            <label class="form-label" for="form2Example1">Email address</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="form3Example4" class="form-control" />
            <label class="form-label" for="form3Example4">New Password</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="form3Example4" class="form-control" />
            <label class="form-label" for="form3Example4">Confirm Password</label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="cpBtn btn btn-primary btn-block mb-4">Change Password</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Go back? <a href="/user/login">Login</a></p>
        </div>
	</form>
</div>