<div id="loginForm">
	<p class="userTitle">Login</p>
	<form method="POST" action="/user/loginUser">
	<!-- Email input -->
	<div class="form-outline mb-4">
		<input type="email" id="email" class="form-control" name="email" />
		<label class="form-label" for="email">Email address</label>
	</div>

	<!-- Password input -->
	<div class="form-outline mb-4">
		<input type="password" id="password" class="form-control" name="password" />
		<label class="form-label" for="password">Password</label>
	</div>

	<!-- 2 column grid layout for inline styling -->
	<div class="row mb-4">

		<div class="col" style="text-align: center;">
		<!-- Simple link -->
		<a href="/user/forget_password">Forgot password?</a>
		</div>
	</div>

	<!-- Submit button -->
	<button type="submit" class="loginBtn btn btn-primary btn-block mb-4">Sign in</button>

	<!-- Register buttons -->
	<div class="text-center">
		<p>Not a member? <a href="/user/register">Register</a></p>
	</div>
	</form>
</div>