<div class="regForm">
    <h5>Register (Owner)</h5>
  <form method="POST" action="/user/registeringOwner">
    <!-- Restaurant Name input -->
    <div class="form-outline mb-4">
      <input type="text" id="restname" class="form-control" name="restname" required />
      <label class="form-label" for="restname">Restaurant Name</label>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="email" class="form-control" name="email" required />
      <label class="form-label" for="email">Email address</label>
    </div>

    <!-- Phone number input -->
    <div class="form-outline mb-4">
      <input type="number" id="phone" class="form-control" name="phone" required />
      <label class="form-label" for="phone">Phone No.</label>
    </div>

    <!-- Address Line 1 input -->
    <div class="form-outline mb-4">
      <input type="text" id="addressl1" class="form-control" name="addressl1" required />
      <label class="form-label" for="addressl1">Address Line 1</label>
    </div>

    <!-- Address Line 2 input -->
    <div class="form-outline mb-4">
      <input type="text" id="addressl2" class="form-control" name="addressl2" />
      <label class="form-label" for="addressl2">Address Line 2</label>
    </div>

    <!-- Postal Code input -->
    <div class="form-outline mb-4">
      <input type="number" id="postalcode" class="form-control" name="postalcode" required />
      <label class="form-label" for="postalcode">Postal Code</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="password" class="form-control" name="password" value="" required />
      <label class="form-label" for="password">Password</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="cpassword" class="form-control" name="cpassword" value="" required />
      <label class="form-label" for="cpassword">Confirm Password</label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="regBtn btn btn-primary btn-lg btn-block">Sign Up</button>

    <!-- Register buttons -->
    <div class="text-center">
      <p>
        Already a member? <a href="/user/login">Login</a>
      <br>
      Be a customer? <a href="/user/register">Register as customer</a>
      </p>
    </div>
  </form>
</div>