<div id="registerForm">
  <p class="userTitle">Register</p>
  <form method="POST" action="/user/registerUser">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <input type="text" id="fname" class="form-control" name="fname" required />
          <label class="form-label" for="fname">First name</label>
        </div>
      </div>

      <div class="col">
        <div class="form-outline">
          <input type="text" id="lname" class="form-control" name="lname" required />
          <label class="form-label" for="lname">Last name</label>
        </div>
      </div>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="email" class="form-control" name="email" required />
      <label class="form-label" for="email">Email address</label>
    </div>

    <!-- Phone number input -->
    <div class="form-outline mb-4">
      <input type="number" id="phone" class="form-control" name="phone" required />
      <label class="form-label" for="phone">Phone No.</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="password" class="form-control" name="password" value="" required />
      <label class="form-label" for="password">Password</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="cpassword" class="form-control" name="cpassword" value="" required />
      <label class="form-label" for="cpassword">Confirm Password</label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="AllBtn registerBtn btn btn-primary btn-block mb-4">Sign up</button>

    <!-- Register buttons -->
    <div class="text-center">
      <p>Already a member? <a href="/user/login">Login</a></p>
    </div>
  </form>
</div>