<h2>Create a Promotion</h2>

    <form>
        <table>
            <tr>
                <td><label for="">Start Date: </label></td>
                <td><input type="date" name="startdate"></td>
                <td><label for="">End Date:</label></td>
                <td><input type="date" name="enddate"></td>
            </tr>
            <tr>
                <td><label for="">Discount: </label></td>
                <td><input type="numbers" name="discount"> %</td>
            </tr>
            <tr>
                <td><label for="">Details: </label></td>
                <td><textarea name="details" id="" cols="30" rows="2"></textarea></td>
            </tr>
            <tr>
                <td><label for="">Banner Photo: </label></td>
                <td><input type="file" name="banner" accept="image/png, image/jpeg, image/jpg"></td>
            </tr>
        </table>
        <input class="btn btn-primary" type="submit" value="Submit"/>
    </form>

    <hr>

    <h2>Promotions</h2>
    <div class="card mb-3 resTab" style="background-color: rgba(26, 24, 22, 0.8); max-height: 200px; border-radius:15px;">
    <div class="row g-0">
        <div class="col-md-2">
            <img src="https://d1nqx6es26drid.cloudfront.net/app/uploads/2019/11/05175538/McD_TheToken%C2%AE_1235_RGB.png"
                alt="..." class="img-fluid" style="max-height: 200px; " />
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h3 class="card-title" style="color: white;">McDonald's</h3>
                <p class="card-text" style="color: white;">
                    McDonald's is currently having a 15% discount for all breakfast items!
                </p>
                <button class="btn btn-primary" style="background-color:#22dd56 ; width: 200px; height: 100px; margin-left: 82.5%;">15%</button>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>

