<h2>Create a Promotion</h2>

    <form>
        <div><label for="">Start Date: &nbsp;</label></div>
        <div><label for="">End Date: &nbsp;</label></div>
        <div><label for="">Discount:</label></div>
        <div><label for="">Details:</label></div>
        <input class="btn btn-primary" type="submit" value="Submit"/>
    </form>