<style>
    .checked {
        color: orange;
    }

    .card {
        margin: 15px;
        background-color: #35322d;
        border-radius: 25px;
        height: 450px;
        width: 18rem;
        display: inline-table;
    }

    .card:hover {
        background-color: #ffb03b;
    }

    a {
        color: #ffb03b;
    }

    a:hover {
        color: #35322d;
    }

    .w-100 {
        border-radius: 25px;
    }

    h4 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    }
</style>
<!-- Sort By Buttons -->
<div id="red">
    Sort By:
</div>
<div class="btn-group" role="group" aria-label="Basic example">
    <button onclick="sortByAZ()" type="button" class="btn btn-primary">Alphabetical<i class="bi bi-sort-up"></i></button>
    <button onclick="sortByZA()" type="button" class="btn btn-primary">Alphabetical<i class="fas fa-sort-amount-down-alt"></i></button>
    <button onclick="helloWorld()" type="button" class="btn btn-primary">Right</button>
</div>
<br>
<!-- Cards -->
{{#each restaurant}}
<a href="restaurant/restaurant_1/{{this.id}}">
    <div class="card">
        <img src="https://d1nqx6es26drid.cloudfront.net/app/uploads/2019/11/05175538/McD_TheToken%C2%AE_1235_RGB.png"
            alt="..." class="img-fluid center w-100 hover-shadow" />
        <div class="card-body">
            <h4 class="card-title">{{this.res_name}}</h4>
            <p class="card-text">{{this.address}}{{#if this.halal}}·Halal{{/if}}</p>
        </div>
    </div>
</a>

{{/each}}
<script src="../../public/js/res.js">
</script>

<script>
function helloWorld(){
    window.location.reload();
}
</script>