<style>
    .checked {
        color: orange;
    }

    .card {
        margin: 15px;
        background-color: #35322d;
        height: 450px;
        width: 18rem;
        display: inline-table;
    }

    .card:hover {
        background-color: #ffb03b;
    }

    a {
        color: #ffb03b;
    }

    a:hover {
        color: #35322d;
    }

    h4 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    }

    .defaultSize {
        width: 18rem;
    }

    .titleCard {
        font-size: 21px;
    }
</style>
<!-- Cards -->
{{#each restaurant}}
{{#ifEquals this.image undefined}}
{{else}}
<a href="restaurant/restaurant_1/{{this.id}}">
    <div class="card defaultSize" style="width: 200px; height:300px;">
        <img src="{{this.image}}" alt="..." class="card-img-top " style="width: 200px; height:200px;" />
        <div class="card-body" style="width: 200px; ">
            <p class="card-title titleCard" style="text-overflow: ellipsis; overflow: hidden;white-space: nowrap; height: 33px;">{{this.res_name}}<p>
            <p class="card-text">5.0 <i class="fa fa-star"></i><c style="float: right;">5023 Reviews</c></p>
        </div>
    </div>
</a>
{{/ifEquals}}

{{/each}}
<script src="../../public/js/res.js">
</script>

<script>
    function helloWorld() {
        window.location.reload();
    }
</script>