<div class="card mb-3">
    <a href="/restaurant/restaurant_1">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="https://d1nqx6es26drid.cloudfront.net/app/uploads/2019/11/05175538/McD_TheToken%C2%AE_1235_RGB.png"
                    alt="..." class="img-fluid" style="object-fit:inherit;" />
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h3 class="card-title">McDonald's</h3>
                    <p class="card-text">
                        <small class="text-muted">4.2/5</small>
                    </p>
                    <p class="card-text">
                        30 Sembawang Dr, #01 - 16 / 17 Sun Plaza · In Sun Plaza · 6754 2644
                    </p>
                    <div class="buttons">

                        <div class="action_btn">

                            <button name="submit" class="action_btn btn btn-primary" type="submit" value="Save"
                                onclick="myFunction()">View Restaurant Seating</button>
                            <button name="submit" class="action_btn btn btn-primary" type="submit" value="Cancel"
                                onclick="myFunction2()">View Restaurant Menu</button>

                            <p id="saved"></p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </a>
</div>