<style>
    .checked {
        color: orange;
    }

    .card {
        margin: 15px;
        background-color: #35322d;
        height: 450px;
        width: 18rem;
        display: inline-table;
    }

    .card:hover {
        background-color: #ffb03b;
    }

    a {
        color: #ffb03b;
    }

    a:hover {
        color: #35322d;
    }

    h4 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    }

    .defaultSize {
        width: 18rem;
    }

    .titleCard {
        font-size: 21px;
    }
</style>
<div class="input-group rounded mt-1">
    <input type="search" id="search" class="form-control rounded"
        placeholder="Search for Restaurants, Address, Cuisine, ..." aria-label="Search" aria-describedby="search-addon"
        name="search" value="{{search}}" />
    <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
    </span>
</div>
<br>

<div class="" id="matchList">
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    function sortRest(data, prop, asc) {
        data.sort(function (a, b) {
            if (asc) {
                return (a[prop] > b[prop]) ? 1 : ((a[prop] < b[prop]) ? -1 : 0);
            } else {
                return (b[prop] > a[prop]) ? 1 : ((b[prop] < a[prop]) ? -1 : 0);
            }
        });
    }

    $(function () {
        $search = ""
        $("#search").keyup(function () {
            $search = $("#search").val();
            getRes();
        });
        var cuisines = document.getElementsByName("cuisine");
        console.log(cuisines)

        getRes()
        function getRes() {
            $.ajax({
                url: "/restaurant/getRes",
                type: "GET",
                dataType: 'json',
                success: (data) => {
                    data = data.filter(r => {
                        if (r.image) {
                            return r
                        }
                    })
                    let matches = data.filter(r => {
                        return r.res_name.toLowerCase().includes($search.toLowerCase()) || r.address.toLowerCase().includes($search.toLowerCase()) || r.cuisine.toLowerCase().includes($search.toLowerCase())
                    });

                    if ($search.length == 0) {
                        matches = data;
                    }
                    if (matches.length > 0) {
                        const html = matches.map(match => `
                        <a href="restaurant/restaurant_1/${match.res_name}">
        <div class="card defaultSize" style="width: 225px; height:300px;">
            <img src="${match.image}" alt="..." class="card-img-top " style="width: 225px; height:225px;" />
            <div class="card-body" style="width: 225px; ">
                <p class="card-title titleCard"
                    style="text-overflow: ellipsis; overflow: hidden;white-space: nowrap; height: 33px;">
                    ${match.res_name}
                <p>
                <p class="card-text">${match.cuisine} | ${match.halal ? "Halal" : "Not Halal"} | $${match.price}</p>
                <p class="card-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                        class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                    <c style="float: right;">No
                        Reviews
                    </c>
                </p>
            </div>
            <div class="card-img-overlay">
                <i class="fas fa-circle" style="color:${match.queue > 0 && match.queue <=10 ? "green" : "red"}"></i>
            </div>
        </div>
    </a>
                        `).join("");
                        $("#matchList").html(html);
                        console.log(matches)
                    }
                }
            })
        }
    })

</script>