<style>
    .checked {
        color: orange;
    }

    .card {
        margin: 15px;
        background-color: #35322d;
        height: 450px;
        width: 18rem;
        display: inline-table;
    }

    .card:hover {
        background-color: #ffb03b;
    }

    a {
        color: #ffb03b;
    }

    a:hover {
        color: #35322d;
    }

    h4 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    }

    .defaultSize {
        width: 18rem;
    }

    .titleCard {
        font-size: 21px;
    }
</style>
<div class="row mt-2">
    <div class="col-2">
        <select class="form-select" id="sort">
            <option selected disabled>Sort By</option>
            <option value="">None</option>
            <option value="res_name">Alphabetical</option>
            <option value="price">Price</option>
            <option value="avgReview">Reviews</option>
            <option value="reviewCount">Popularity</option>
            <option value="queue">Queue</option>
        </select>
    </div>
    <div class="col-10">
        <div class="input-group rounded">
            <input type="search" id="search" class="form-control rounded"
                placeholder="Search for Restaurants, Address, Cuisine, ..." aria-label="Search"
                aria-describedby="search-addon" name="search" value="{{search}}" />
            <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
            </span>
        </div>
    </div>
</div>
<hr>
<div class="mt-5" id="matchList">
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(function () {
        $search = ""
        $sort = ""
        $("#sort").change(function () {
            $sort = $("#sort").val();
            console.log($sort)
            getRes();
        });
        $("#search").keyup(function () {
            $search = $("#search").val();
            getRes();
        });
        var cuisines = document.getElementsByName("cuisine");
        console.log(cuisines)
        getRes()
        function getRes() {
            $.ajax({
                url: "/restaurant/getRes",
                type: "GET",
                dataType: 'json',
                success: (data) => {
                    data = data.filter(r => {
                        if (r.image) {
                            return r
                        }
                    })
                    var matches = data.filter(r => {
                        return r.res_name.toLowerCase().includes($search.toLowerCase()) || r.address.toLowerCase().includes($search.toLowerCase()) || r.cuisine.toLowerCase().includes($search.toLowerCase())
                    });
                    if ($sort == "res_name") {
                        matches = matches.sort(function (a, b) {
                            return (a.res_name > b.res_name) ? 1 : ((a.res_name < b.res_name) ? -1 : 0);
                        })
                    } else if ($sort == "price") {
                        matches = matches.sort(function (a, b) {
                            return (a.price > b.price) ? 1 : ((a.price < b.price) ? -1 : 0);
                        })
                    } else if ($sort == "avgReview") {
                        matches = matches.sort(function (a, b) {
                            return (b.avgReview > a.avgReview) ? 1 : ((b.avgReview < a.avgReview) ? -1 : 0);
                        })
                    } else if ($sort == "reviewCount") {
                        matches = matches.sort(function (a, b) {
                            return (b.reviewCount > a.reviewCount) ? 1 : ((b.reviewCount < a.reviewCount) ? -1 : 0);
                        })
                    } else if ($sort == "queue") {
                        matches = matches.sort(function (a, b) {
                            return (a.queue > b.queue) ? 1 : ((a.queue < b.queue) ? -1 : 0);
                        })
                    }


                    const html = matches.map(match => `
                        <a href="restaurant/restaurant_1/${match.res_name}">
        <div class="card defaultSize" style="width: 225px; height:300px;">
            <img src="${match.image}" alt="..." class="card-img-top " style="width: 225px; height:225px;" />
            <div class="card-body" style="width: 225px; ">
                <p class="card-title titleCard"
                    style="text-overflow: ellipsis; overflow: hidden;white-space: nowrap; height: 33px;">
                    ${match.res_name}
                <p>
                <p class="card-text">${match.cuisine} | ${match.halal ? "Halal" : "Not Halal"} | $${match.price}</p>
                <p class="card-text"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                        class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                    <c style="float: right;">${match.reviewCount}
                        Reviews
                    </c>
                </p>
            </div>
            <div class="card-img-overlay">
                <i class="fas fa-info-circle" title="Restaurant has a ${match.queue >= 0 && match.queue <= 10 ? "short" : "long"} queue currently" style="color:${match.queue >= 0 && match.queue <= 10 ? "green" : "red"}; text-shadow: 0 0 3px #FF0000;"></i>
            </div>
        </div>
    </a>
                        `).join("");
                    $("#matchList").html(html);
                    console.log(matches)
                }
            })
        }
    })

</script>