<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .checked {
        color: orange;
    }
</style>
<div class="media row" style="padding: 10px; background-color:#f2f1ef">
    <img src="https://d1nqx6es26drid.cloudfront.net/app/uploads/2019/11/05175538/McD_TheToken%C2%AE_1235_RGB.png"
        class="align-self-start mr-3 col-md-2" alt="..." style="max-height: 200px;">
    <div class="media-body col-md-10">
        <h2 class="mt-0">McDonald's</h5>
            class="align-self-start mr-3 col-md-4" alt="..." style="max-height: 500px;">
            <div class="media-body col-md-8">
                <h1 class="mt-0">McDonald's</h1>
                <div>
                    5.0
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    | 12 Ratings
                </div>
                <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque
                    penatibus et
                    magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
    </div>
    <br>
    <div class="" style="padding: 10px; background-color:#f2f1ef">

    </div>