<style>
    .checked {
        color: orange;
    }

    .card {
        display: inline-block;
        margin: 15px;
    }
</style>
<!-- Cards -->
{{#each restaurant}}
<div class="card" style="width: 18rem;">
    <img src="https://d1nqx6es26drid.cloudfront.net/app/uploads/2019/11/05175538/McD_TheToken%C2%AE_1235_RGB.png"
        alt="..." class="img-fluid center" />
    <div class="card-body">
        <h5 class="card-title">{{this.res_name}}</h5>
        <p class="card-text">{{this.address}}{{#if this.halal}}·Halal{{/if}}</p>
        <a href="restaurant/restaurant_1" class="btn btn-primary">View Restaurant</a>
    </div>
</div>
{{/each}}