<style>
    .checked {
        color: orange;
    }
</style>
<div class="card mb-3 resTab" style="background-color: rgba(26, 24, 22, 0.8); max-height: 200px; border-radius:15px;">
    <div class="row g-0">
        <div class="col-md-2">
            <img src="https://d1nqx6es26drid.cloudfront.net/app/uploads/2019/11/05175538/McD_TheToken%C2%AE_1235_RGB.png"
                alt="..." class="img-fluid" style="max-height: 200px; " />
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h3 class="card-title" style="color: white;">McDonald's</h3>
                <p class="card-text">
                    <small class="text-muted">4.2/5 <span class="fa fa-star checked"></span></small>
                </p>
                <p class="card-text" style="color: white;">
                    30 Sembawang Dr, #01 - 16 / 17 Sun Plaza · In Sun Plaza · 6754 2644
                </p>
                <div class="buttons">
                    <div class="action_btn">
                        <a class="btn btn-primary" style="background-color: #3b5998" href="restaurant/restaurant_1" role="button">View Restaurant</a></div>
                        <a class="btn btn-primary" style="background-color: #3b5998" href="#!" role="button">View Menu</a></div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>
