<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .checked {
        color: orange;
    }
</style>
<div class="media row" style="padding: 10px; background-color:#f2f1ef">
    <img src="https://d1nqx6es26drid.cloudfront.net/app/uploads/2019/11/05175538/McD_TheToken%C2%AE_1235_RGB.png"
        class="align-self-start mr-3 col-md-4" alt="..." style="max-height: 400px; max-width: 400px;">
    <div class="media-body col-md-8">
            <div class="media-body col-md-8">
                <h1 class="mt-0">McDonald's</h1>
                <div>
                    5.0
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    | 12 Ratings
                </div>
                <hr>
                <table class="table table-borderless">
                        <tr>
                            <td>Location:</td>
                            <td>30 Sembawang Dr, #01 - 16 / 17 Sun Plaza </td>
                        </tr>
                        <tr>
                            <td>Opening Hours:</td>
                            <td>08:00am - 10:00pm</td>
                        </tr>
                        <tr>
                            <td>Cuisine:</td>
                            <td>Western</td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td>6754 2644</td>
                        </tr>
                </table>
                <a href="" class="btn btn-primary btn-block">Book a table</a>
            </div>
    </div>
    <br>
    <div class="" style="padding: 10px; background-color:#f2f1ef">

    </div>