<style>
    .checked {
        color: orange;
    }

    .card {
        margin: 15px;
        background-color: #35322d;
        height: 450px;
        width: 18rem;
        display: inline-table;
    }

    .card:hover {
        background-color: #ffb03b;
    }

    a {
        color: #ffb03b;
    }

    a:hover {
        color: #35322d;
    }

    h4 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    }
    .defaultSize{
        width: 18rem;
    }
    .titleCard{
        font-size: 21px;
    }
</style>
<!-- Cards -->
{{#each restaurant}}
<a href="restaurant/restaurant_1/{{this.id}}">
    <div class="card defaultSize" style="width: 300px; height:400px;">
        <img src="{{this.image}}"
            alt="..." class="card-img-top " style="width: 300px; height:300px;" />
        <div class="card-body">
            <h4 class="card-title titleCard">{{this.res_name}}</h4>
            <p class="card-text">{{this.address}}{{#if this.halal}}·Halal{{/if}}</p>
        </div>
    </div>
</a>

{{/each}}
<script src="../../public/js/res.js">
</script>

<script>
function helloWorld(){
    window.location.reload();
}
</script>