<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form action="/menu/updateMenu" method="post">
          <input type="text" name="test">
          <button>Submit</button>
        </form>
        <div class="menuNav">
          <button class="btn btn-dark" disabled>Table View (Edit)</button>
          <button class="btn btn-dark" onclick="window.location.href='/menu'">User View</button>
        </div>
        <div class="menuTableHeader">
            Menu
        </div>
        <table class="menuTable" id="menuTable">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">#<i class="bi bi-filter"></i></th>
                    <th onclick="sortTable(1)">ID<i class="bi bi-filter"></i></th>
                    <th onclick="sortTable(2)">Name<i class="bi bi-filter"></i></th>
                    <th onclick="sortTable(3)">Type<i class="bi bi-filter"></i></th>
                    <th onclick="sortTable(4)">Price<i class="bi bi-filter"></i></th>
                    <th onclick="sortTable(5)">Specification<i class="bi bi-filter"></i></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>A01</td>
                    <td>Food 1</td>
                    <td>Appetizer</td>
                    <td>$3.00</td>
                    <td>Spice</td>
                    <td><button class="buttonIcon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </td>
                    <td><button type="button" class="btn-close" aria-label="Close"></button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>M01</td>
                    <td>Food 2</td>
                    <td>Meal</td>
                    <td>$3.00</td>
                    <td>Spice</td>
                    <td><button class="buttonIcon" data-bs-toggle="modal" data-bs-target="#edit2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </td>
                    <td><button type="button" class="btn-close" aria-label="Close"></button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>D01</td>
                    <td>Food 3</td>
                    <td>Dessert</td>
                    <td>$3.00</td>
                    <td>Size</td>
                    <td><button class="buttonIcon" data-bs-toggle="modal" data-bs-target="#edit1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </td>
                    <td><button type="button" class="btn-close" aria-label="Close" data-bs-toggle="modal" data-bs-target="#delete1"></button></td>
                </tr>
            </tbody>
        </table>
        <button class="buttonAdd"  data-bs-toggle="modal" data-bs-target="#addMenu1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                Add An Item
            </button>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="modal fade" id="addMenu1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdrop1Label">Add New Food</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="">
            <div class="menuImage"></div>
            <div class="popUpContent">
                <form action="/menu/updateMenu" method="POST">
                  <div class="popUpContentTitle">Food Details</div>
                    <div class="form-outline">
                      <input type="text" id="foodId" name='foodId' class="form-control" />
                      <label class="form-label" for="foodId">Food ID</label>
                    </div>
                    <div class="form-outline">
                      <input type="text" id="foodName" name='foodName' class="form-control" />
                      <label class="form-label" for="foodName">Food Name</label>
                    </div>
                    <div class="form-outline">
                      <input type="text" id="foodType" name='foodType' class="form-control" />
                      <label class="form-label" for="foodType">Food Type</label>
                    </div>
                    <div class="form-outline">
                      <input type="number" id="foodPrice" name='foodPrice' class="form-control"/>
                      <label class="form-label" for="foodPrice">Food Price</label>
                    </div>
                    
                    <div class="popUpContentTitle" style="font-size: 1.0em; margin-top: 20px; margin-bottom: 10px;">Specification: </div>
                    <div class="form-check specification">
                      <input class="form-check-input" name="spiceLevel" type="checkbox" value="" id="flexCheckDefault1"/>
                      <label class="form-check-label" for="flexCheckDefault1">portion</label>
                    </div>
                    <div class="form-check specification">
                      <input class="form-check-input" name='temparture' type="checkbox" value="" id="flexCheckDefault2"/>
                      <label class="form-check-label" for="flexCheckDefault2">Ice</label>
                    </div>
                    <div class="form-check specification">
                      <input class="form-check-input" name="portion" type="checkbox" value="" id="flexCheckDefault3"/>
                      <label class="form-check-label" for="flexCheckDefault3">Spice</label>
                    </div>
                <button class="btn btn-dark">Done</button>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-dark">Done</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="edit1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdrop1Label">Add New Food</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="">
            <div class="menuImage"></div>
            <div class="popUpContent">
                <form action="" method="POST">
                    <div class="popUpContentTitle">Food Details</div>

                  <div class="form-outline">
                      <input type="text" id="foodNo" value="A01" class="form-control" />
                      <label class="form-label" for="foodId" name='foodId'>Food ID</label>
                    </div>
                    <div class="form-outline">
                      <input type="text" id="foodName" value="Food 1" class="form-control" />
                      <label class="form-label" for="foodName" name='foodName'>Food Name</label>
                    </div>
                    <div class="form-outline">
                      <input type="text" id="foodType" value="Appetizer" class="form-control" />
                      <label class="form-label" for="foodType" name='foodType'>Food Type</label>
                    </div>
                    <div class="form-outline">
                      <input type="number" id="foodPrice" value="3.00" class="form-control"/>
                      <label class="form-label" for="foodPrice" name='foodPrice'>Food Price</label>
                    </div>

                    <div class="popUpContentTitle" style="font-size: 1.0em; margin-top: 20px; margin-bottom: 10px;">Specification: </div>
                    <div class="form-check specification">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1"/>
                      <label class="form-check-label" for="flexCheckDefault1">Size</label>
                    </div>
                    <div class="form-check specification">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2"/>
                      <label class="form-check-label" for="flexCheckDefault2">Ice</label>
                    </div>
                    <div class="form-check specification">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3"/>
                      <label class="form-check-label" for="flexCheckDefault3">Spice</label>
                    </div>
                </form>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark">Done</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade popUpDelete" id="delete1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body">
        <button style="float: right; margin: 0;" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div style="clear: both; text-align:center; margin: 20px auto 10px;">
            <div>Are you sure you want to delete the item?</div>
            <button type="button" class="btn btn-dark">Back</button>
            <button type="button" class="btn btn-danger">Delete</button>    
        </div>
      </div>
    </div>
  </div>
</div>

<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("menuTable");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>