<style>
/****** Style Star Rating Widget *****/

.rating { 
 border: none;
 float: left;
  }

.rating > input { display: none; } 
.rating > label:before { 
  font-size: 2em;
  content: '★ ';
  }

 .rating > .half:before { 
  content: "\f089";
  position: absolute;
   }

   .rating > label { 
    color: #ddd; 
    float: right; 
     }

     /***** CSS Magic to Highlight Stars on Hover *****/

    .rating > input:checked ~ label, /* show gold star when clicked */
     .rating:not(:checked) > label:hover, /* hover current star */
      .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } 
       /*        hover previous stars in list */

       .rating > input:checked + label:hover,
       .rating > input:checked ~ label:hover,
       .rating > label:hover ~ input:checked ~ label, 
       .rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

  .ratingfont{
    font-size: 20px;
    margin-bottom: 0px;
  }
</style>

<h2>Leave a Review</h2>

<hr>

<form method="POST" action="/createReviews/reviews/createReviews/{{restaurant}}" id="ratingForm">
  <div class="container" id='food' style="margin-bottom: 20px;">
    <p class="ratingfont">How would you rate the food?</p>
    <fieldset class="rating">
    <input type="radio" id="star5_food" name="FoodOption" value=5 /><label class = "full" for="star5_food" title="Awesome - 5 stars"></label>
    <input type="radio" id="star4_food" name="FoodOption" value=4 /><label class = "full" for="star4_food" title="Pretty good - 4 stars"></label>
    <input type="radio" id="star3_food" name="FoodOption" value=3 /><label class = "full" for="star3_food" title="Meh - 3 stars"></label>
    <input type="radio" id="star2_food" name="FoodOption" value=2 /><label class = "full" for="star2_food" title="Kinda bad - 2 stars"></label>
    <input type="radio" id="star1_food" name="FoodOption" value=1 /><label class = "full" for="star1_food" title="Sucks big time - 1 star"></label>
    </fieldset>
    <br>
    <br>
  </div>
    <div class="container" id='service' style="margin-bottom: 20px;">
      <p class="ratingfont">How was the customer service?</p>
      <fieldset class="rating">
      <input type="radio" id="star5_cust" name="CustOption" value=5 /><label class = "full" for="star5_cust" title="Awesome - 5 stars"></label>
      <input type="radio" id="star4_cust" name="CustOption" value=4 /><label class = "full" for="star4_cust" title="Pretty good - 4 stars"></label>
      <input type="radio" id="star3_cust" name="CustOption" value=3 /><label class = "full" for="star3_cust" title="Meh - 3 stars"></label>
      <input type="radio" id="star2_cust" name="CustOption" value=2 /><label class = "full" for="star2_cust" title="Kinda bad - 2 stars"></label>
      <input type="radio" id="star1_cust" name="CustOption" value=1 /><label class = "full" for="star1_cust" title="Sucks big time - 1 star"></label>
      </fieldset>
      <br>
      <br>
  </div>

    <div class="container" id='environment' style="margin-bottom: 20px;">
    <p class="ratingfont">Is the environment clean?</p>
    <fieldset class="rating">
      <input type="radio" id="star5_env" name="EnvOption" value=5 /><label class = "full" for="star5_env" title="Awesome - 5 stars"></label>
      <input type="radio" id="star4_env" name="EnvOption" value=4 /><label class = "full" for="star4_env" title="Pretty good - 4 stars"></label>
      <input type="radio" id="star3_env" name="EnvOption" value=3 /><label class = "full" for="star3_env" title="Meh - 3 stars"></label>
      <input type="radio" id="star2_env" name="EnvOption" value=2 /><label class = "full" for="star2_env" title="Kinda bad - 2 stars"></label>
      <input type="radio" id="star1_env" name="EnvOption" value=1 /><label class = "full" for="star1_env" title="Sucks big time - 1 star"></label>
      </fieldset>
      <br>
      <br>
  </div>

  <!-- Message input -->
  <div class="form-outline mb-4">
    <textarea class="form-control" name="comments" id="form4Example3" rows="4" data-mdb-showcounter="true" maxlength="200"></textarea>
    <label class="form-label" for="form4Example3">Comments</label>
  </div>

  <!-- Submit button -->
  <input type="submit" class="btn btn-primary btn-block mb-4" style="background-color: #ffb03b;">
</form>

<script>
  $(document).ready(function() {
    $("form#ratingForm").on("change", function(e) 
    {
        e.preventDefault(); // prevent the default click action from being performed
        if ($("#ratingForm :radio:checked").length == 0) {
            $('#status').html("nothing checked");
            return false;
        } else {
            $('#status').html( 'You picked ' + $('input:radio[name=FoodOption]:checked').val() );
        }
    });
});
  $(document).ready(function() {
    $("form#ratingForm").on("change",function(e) 
    {
        e.preventDefault(); // prevent the default click action from being performed
        if ($("#ratingForm :radio:checked").length == 0) {
            $('#status').html("nothing checked");
            return false;
        } else {
            $('#status').html( 'You picked ' + $('input:radio[name=CustOption]:checked').val() );
        }
    });
});
  $(document).ready(function() {
    $("form#ratingForm").on("change",function(e) 
    {
        e.preventDefault(); // prevent the default click action from being performed
        if ($("#ratingForm :radio:checked").length == 0) {
            $('#status').html("nothing checked");
            return false;
        } else {
            $('#status').html( 'You picked ' + $('input:radio[name=EnvOption]:checked').val() );
        }
    });
});

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>