<style>
    .checked{
        color: orange;
    }
</style>
<div class="media row" style="padding: 10px; background-color:#f2f1ef">
    <img src="https://d1nqx6es26drid.cloudfront.net/app/uploads/2019/11/05175538/McD_TheToken%C2%AE_1235_RGB.png"
        class="align-self-start mr-3 col-md-4" alt="..." style="max-height: 400px; max-width: 400px;">
    <div class="media-body col-md-8">
            <div class="media-body col-md-8">
                <h1 class="mt-0">McDonald's</h1>
                <div>
                    5.0
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    | 12 Ratings
                </div>
                <hr>
                <table class="table table-borderless">
                        <tr>
                            <td>Location:</td>
                            <td>30 Sembawang Dr, #01 - 16 / 17 Sun Plaza </td>
                        </tr>
                        <tr>
                            <td>Opening Hours:</td>
                            <td>08:00am - 10:00pm</td>
                        </tr>
                        <tr>
                            <td>Cuisine:</td>
                            <td>Western</td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td>6754 2644</td>
                        </tr>
                </table>
            </div>
    </div>
    <br>
    <div class="" style="padding: 10px; background-color:#f2f1ef">

    </div>
<hr>

<h2>Customer Reviews</h2>

<table class="table table-striped restab">
    <thead>
        <tr>
            <th>Stars</th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
            </td>
            <td>
                <p>test1</p>
            </td>
        </tr>
        <tr>
            <td><span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </td>
            <td>
                <p>test2</p>
            </td>
        </tr>
        <tr>
            <td><span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </td>
            <td>
                <p>test3</p>
            </td>
        </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination" style="display:flex; justify-content:center;">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>