<style>
    .checked {
        color: orange;
    }
</style>
<div class="media row" style="padding: 10px; background-color:#f2f1ef">
    <img src="https://d1nqx6es26drid.cloudfront.net/app/uploads/2019/11/05175538/McD_TheToken%C2%AE_1235_RGB.png"
        class="align-self-start mr-3 col-md-4" alt="..." style="max-height: 400px; max-width: 400px;">
    <div class="media-body col-md-8">
        <div class="media-body col-md-8">
            <h1 class="mt-0">McDonald's</h1>
            <div>
                {{totalaverage}}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                | {{reviews.length}} Ratings
            </div>
            <hr>
            <table class="table table-borderless">
                <tr>
                    <td>Location:</td>
                    <td>30 Sembawang Dr, #01 - 16 / 17 Sun Plaza </td>
                </tr>
                <tr>
                    <td>Opening Hours:</td>
                    <td>08:00am - 10:00pm</td>
                </tr>
                <tr>
                    <td>Cuisine:</td>
                    <td>Western</td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td>6754 2644</td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div class="" style="padding: 10px; background-color:#f2f1ef">

    </div>
    <hr>

    <h2>Customer Reviews</h2>

    <table class="table table-striped restab">
        <thead>
            <tr>
                <th>Stars</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            {{#if reviews}}
            {{#each reviews}}
            <tr>
                <td>
                    {{average}}
                </td>
                <td>
                    <p>{{comments}}</p>
                </td>
            </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination" style="display:flex; justify-content:center;">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    {{!-- <div class="inner-left preview" id="demo12">
        <div class="data-container" style="min-height: 175px; max-height: 175px;">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul>
        </div>
        <div class="paginationjs paginationjs-big">
            <div class="paginationjs-pages">
                <ul>
                    <li class="paginationjs-page J-paginationjs-page active" data-num="1"><a>1</a></li>
                    <li class="paginationjs-page J-paginationjs-page" data-num="2"><a href="">2</a></li>
                    <li class="paginationjs-page J-paginationjs-page" data-num="3"><a href="">3</a></li>
                    <li class="paginationjs-page J-paginationjs-page" data-num="4"><a href="">4</a></li>
                    <li class="paginationjs-page J-paginationjs-page" data-num="5"><a href="">5</a></li>
                    <li class="paginationjs-page J-paginationjs-page" data-num="6"><a href="">6</a></li>
                    <li class="paginationjs-page J-paginationjs-page" data-num="7"><a href="">7</a></li>
                    <li class="paginationjs-next J-paginationjs-next" data-num="2" title="Next page"><a href="">»</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        $('#demo').pagination({
            dataSource: [1, 2, 3, 4, 5, 6, 7, ... , 35],
            pageSize: 5,
            autoHidePrevious: true,
            autoHideNext: true,
            callback: function (data, pagination) {
                // template method of yourself
                var html = template(data);
                dataContainer.html(html);
            }
        })
    </script> --}}