<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1 class="menuTitle">Food Cart</h1>
        <div class="bookInfo">
            
            <table class="bookTable bookTable1">
                <tr>
                    <td>Restaurant:</td>
                    <td>Restaurant 1</td>
                </tr>
                <tr>
                    <td>Booking Date:</td>
                    <td>01/01/2021</td>
                </tr>
                <tr>
                    <td>Booking Time:</td>
                    <td>4:00pm</td>
                </tr>
                <tr>
                    <td>Pax:</td>
                    <td>4</td>
                </tr>
            </table>
        </div> 
        <div class="cart">

            <table class="bookTable bookTable2">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Food</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>delete</td>
                </tr>
                <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>delete</td>
                </tr>
                <tr>
                <td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>delete</td>
                </tr>
            </tbody>
            </table>
        </div>
        <div class="remarks">
            <div class="form-outline mb-4" style="margin-bottom:0px;">
                <textarea class="form-control" id="form4Example3" rows="2"></textarea>
                <label class="form-label" for="form4Example3">Remarks</label>
            </div>
        </div>
        <div class="checkout">
            <button type="button" name="" id="" class="btn btn-block bookButton" onclick="window.location.href='/book/receipt'">Checkout</button>
            <div>
                Total: $12.00
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="col-md-2">
    </div>
</div>