<style>
    .confirmList {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
</style>

<div class = "container base restab">
    <h1>Order Confirmation:</h1>
</div>

<br>
<div class="confirmList">
    <h2 style="text-align: center; margin:auto;">Here's your order summary</h2>
    <br>
    <h1 style="border-top: 8px solid #433f39; border-radius: 5px;"></h1>
    <br>
    <h3 style="text-align: center; margin:auto;">Restaurant Details</h3>
    <div>
        Restaurant: <div>

        </div>
    </div>
    <div>
        Date: <div>

        </div>
    </div>
    <div>
        Time: <div>

        </div>
    </div>
    <div>
        Pax: <div>
            
        </div>
    </div>
    <br>
    <h1 style="border-top: 8px solid #433f39; border-radius: 5px;"></h1>
    <br>
    <h3 style="text-align: center; margin:auto;">Personal Details</h3>
    <div>
        Name: <div>
            
        </div>
    </div>
    <div>
        Email: <div>
            
        </div>
    </div>
</div>
