<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<head>

{{#each booking}}
<body>
  <div class="container" style="">
    <h1 style="text-align: center;">Here are the bookings you've made currently</h1>
    <div class="card">
      <div class="card-body">
        Your Booking at {{this.res_name}}
        <div style="float:right;">
          <a href="../bookingDetailsListPage/{{this.email}}/{{this.res_name}}">Click here to view</a>
        </div>
      </div>
    </div>
    <br>
  </div>
</body>
{{/each}}
</head>