<style>
    .bookingForm {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=email] {
        width: 400px;
    }

    input[type=time] {
        width: 400px;
    }

    input[type=number] {
        width: 400px;
    }

    input[type=date] {
        width: 400px;
    }

    input[type=text] {
        width: 400px;
    }
</style>

<div class="bookingForm">
    {{#if user}}
        <form method="POST" action="/bookingInterface/bookingDetailsEmailInsert">

            <h5>Enter your email to retrieve your bookings:</h5>
            <input type="email" name="email" required value= "{{user.email}}" readonly>
            <br>
            <br>
            <button type="submit" style="background-color:#433f39; border-color:#433f39"
                class="btn btn-primary btn-lg btn-block">Search for your bookings!</button>
        </form>
    
    {{else}}
        <h2 style="text-align: center;" >Please Login before attempting</h2>
    {{/if}}
</div>